# Exploratory Data Analysis of Accidental Drug Related Deaths (2012 - 2022)
https://www.kaggle.com/datasets/usmanlovescode/accidental-drug-related-deaths-2012-2022

In [1]:
# load data
import pandas as pd
df = pd.read_csv('Accidental_Drug_Related_Deaths_2012-2022.csv')

# Running overview functions to explore the shape of the data and look for invalid/missing values

In [2]:
# observe sample values
df.head()

,Date,Date Type,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,...,Xylazine,Gabapentin,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo
0,05/29/2012,Date of death,37.0,Male,Black,NaN,STAMFORD,FAIRFIELD,NaN,STAMFORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)"
1,06/27/2012,Date of death,37.0,Male,White,NaN,NORWICH,NEW LONDON,NaN,NORWICH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)"
2,03/24/2014,Date of death,28.0,Male,White,NaN,HEBRON,NaN,NaN,HEBRON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)"
3,12/31/2014,Date of death,26.0,Female,White,NaN,BALTIC,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)"
4,01/16/2016,Date of death,41.0,Male,White,NaN,SHELTON,FAIRFIELD,CT,SHELTON,...,NaN,NaN,NaN,NaN,NaN,Y,NaN,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)"

In [3]:
## Change types
df.info()
df['Date'] = df['Date'].astype("datetime64[us]")
df['Age'] = df['Age'].astype(int)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10654 entries, 0 to 10653
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           10654 non-null  object
 1   Date Type                      10654 non-null  object
 2   Age                            10652 non-null  float64
 3   Sex                            10645 non-null  object
 4   Race                           10625 non-null  object
 5   Ethnicity                      1575 non-null   object
 6   Residence City                 10148 non-null  object
 7   Residence County               9486 non-null   object
 8   Residence State                8756 non-null   object
 9   Injury City                    10476 non-null  object
 10  Injury County                  7332 non-null   object
 11  Injury State                   7741 non-null   object
 12  Injury Place                   10364 non-null  object
 13  Description of Injury          9850 non-null   object
 14  Death City                     9197 non-null   object
 15  Death County                   8090 non-null   object
 16  Death State                    6873 non-null   object
 17  Location                       10632 non-null  object
 18  Location if Other              1194 non-null   object
 19  Cause of Death                 10654 non-null  object
 20  Manner of Death                10645 non-null  object
 21  Other Significant Conditions   1010 non-null   object
 22  Heroin                         3472 non-null   object
 23  Heroin death certificate (DC)  740 non-null    object
 24  Cocaine                        3855 non-null   object
 25  Fentanyl                       6925 non-null   object
 26  Fentanyl Analogue              804 non-null    object
 27  Oxycodone                      950 non-null    object
 28  Oxymorphone                    157 non-null    object
 29  Ethanol                        2878 non-null   object
 30  Hydrocodone                    163 non-null    object
 31  Benzodiazepine                 2499 non-null   object
 32  Methadone                      938 non-null    object
 33  Meth/Amphetamine               127 non-null    object
 34  Amphet                         359 non-null    object
 35  Tramad                         284 non-null    object
 36  Hydromorphone                  67 non-null     object
 37  Morphine (Not Heroin)          55 non-null     object
 38  Xylazine                       792 non-null    object
 39  Gabapentin                     348 non-null    object
 40  Opiate NOS                     126 non-null    object
 41  Heroin/Morph/Codeine           2090 non-null   object
 42  Other Opioid                   128 non-null    object
 43  Any Opioid                     7620 non-null   object
 44  Other                          692 non-null    object
 45  ResidenceCityGeo               10488 non-null  object
 46  InjuryCityGeo                  10408 non-null  object
 47  DeathCityGeo                   10653 non-null  object
dtypes: float64(1), object(47)
memory usage: 3.9+ MB

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

,Date,Date Type,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,...,Xylazine,Gabapentin,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo
count,10654,10654,10652.000000,10645,10625,1575,10148,9486,8756,10476,...,792,348,126,2090,128,7620,692,10488,10408,10653
unique,NaN,2,NaN,2,14,8,513,152,34,295,...,1,2,1,2,8,2,147,534,429,239
top,NaN,Date of death,NaN,Male,White,Hispanic,HARTFORD,NEW HAVEN,CT,HARTFORD,...,Y,Y,Y,Y,Y,Y,PCP,"HARTFORD, CT\n(41.765775, -72.673356)","HARTFORD, CT\n(41.765775, -72.673356)","CT\n(41.57350273000003, -72.73830590799997)"
freq,NaN,8887,NaN,7890,9078,972,721,2742,8460,940,...,792,347,126,2045,90,7612,123,596,775,1452
mean,2018-09-27 07:11:17.829923,NaN,43.515302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2012-01-01 00:00:00,NaN,13.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2016-08-05 00:00:00,NaN,33.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2019-03-24 00:00:00,NaN,43.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2021-03-18 18:00:00,NaN,54.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2022-12-31 00:00:00,NaN,87.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,12.601832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#

In [ ]:
df.describe(include='all')