# Exploratory Data Analysis of Accidental Drug Related Deaths (2012 - 2022)
https://www.kaggle.com/datasets/usmanlovescode/accidental-drug-related-deaths-2012-2022

In [1]:
# load data
import pandas as pd
df = pd.read_csv('Accidental_Drug_Related_Deaths_2012-2022.csv')

# Running overview functions to explore the shape of the data and look for invalid/missing values

In [2]:
# observe sample values
df.head()

,Date,Date Type,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,...,Xylazine,Gabapentin,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo
0,05/29/2012,Date of death,37.0,Male,Black,NaN,STAMFORD,FAIRFIELD,NaN,STAMFORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)"
1,06/27/2012,Date of death,37.0,Male,White,NaN,NORWICH,NEW LONDON,NaN,NORWICH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)"
2,03/24/2014,Date of death,28.0,Male,White,NaN,HEBRON,NaN,NaN,HEBRON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)"
3,12/31/2014,Date of death,26.0,Female,White,NaN,BALTIC,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)"
4,01/16/2016,Date of death,41.0,Male,White,NaN,SHELTON,FAIRFIELD,CT,SHELTON,...,NaN,NaN,NaN,NaN,NaN,Y,NaN,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)"

In [3]:
dimensions = df.shape
print("Number of Rows:", dimensions[0])
print("Number of Columns:", dimensions[1])

Number of Rows: 10654
Number of Columns: 48

In [4]:
## Change types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10654 entries, 0 to 10653
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           10654 non-null  object
 1   Date Type                      10654 non-null  object
 2   Age                            10652 non-null  float64
 3   Sex                            10645 non-null  object
 4   Race                           10625 non-null  object
 5   Ethnicity                      1575 non-null   object
 6   Residence City                 10148 non-null  object
 7   Residence County               9486 non-null   object
 8   Residence State                8756 non-null   object
 9   Injury City                    10476 non-null  object
 10  Injury County                  7332 non-null   object
 11  Injury State                   7741 non-null   object
 12  Injury Place                   10364 non-null  object
 13  Description of Injury          9850 non-null   object
 14  Death City                     9197 non-null   object
 15  Death County                   8090 non-null   object
 16  Death State                    6873 non-null   object
 17  Location                       10632 non-null  object
 18  Location if Other              1194 non-null   object
 19  Cause of Death                 10654 non-null  object
 20  Manner of Death                10645 non-null  object
 21  Other Significant Conditions   1010 non-null   object
 22  Heroin                         3472 non-null   object
 23  Heroin death certificate (DC)  740 non-null    object
 24  Cocaine                        3855 non-null   object
 25  Fentanyl                       6925 non-null   object
 26  Fentanyl Analogue              804 non-null    object
 27  Oxycodone                      950 non-null    object
 28  Oxymorphone                    157 non-null    object
 29  Ethanol                        2878 non-null   object
 30  Hydrocodone                    163 non-null    object
 31  Benzodiazepine                 2499 non-null   object
 32  Methadone                      938 non-null    object
 33  Meth/Amphetamine               127 non-null    object
 34  Amphet                         359 non-null    object
 35  Tramad                         284 non-null    object
 36  Hydromorphone                  67 non-null     object
 37  Morphine (Not Heroin)          55 non-null     object
 38  Xylazine                       792 non-null    object
 39  Gabapentin                     348 non-null    object
 40  Opiate NOS                     126 non-null    object
 41  Heroin/Morph/Codeine           2090 non-null   object
 42  Other Opioid                   128 non-null    object
 43  Any Opioid                     7620 non-null   object
 44  Other                          692 non-null    object
 45  ResidenceCityGeo               10488 non-null  object
 46  InjuryCityGeo                  10408 non-null  object
 47  DeathCityGeo                   10653 non-null  object
dtypes: float64(1), object(47)
memory usage: 3.9+ MB

### We noticed that the date column was an object when a more appropiate type would be a datetime structure. We also saw that age was a float (ex. 46.0, 32.0, etc.) when it really should just be an integer. Thus, we converted both of these types below

In [5]:
df['Date'] = df['Date'].astype("datetime64[us]")
df['Age'] = df['Age'].astype('Int64')

In [6]:
df.describe(include='all')

,Date,Date Type,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,...,Xylazine,Gabapentin,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo
count,10654,10654,10652.0,10645,10625,1575,10148,9486,8756,10476,...,792,348,126,2090,128,7620,692,10488,10408,10653
unique,NaN,2,<NA>,2,14,8,513,152,34,295,...,1,2,1,2,8,2,147,534,429,239
top,NaN,Date of death,<NA>,Male,White,Hispanic,HARTFORD,NEW HAVEN,CT,HARTFORD,...,Y,Y,Y,Y,Y,Y,PCP,"HARTFORD, CT\n(41.765775, -72.673356)","HARTFORD, CT\n(41.765775, -72.673356)","CT\n(41.57350273000003, -72.73830590799997)"
freq,NaN,8887,<NA>,7890,9078,972,721,2742,8460,940,...,792,347,126,2045,90,7612,123,596,775,1452
mean,2018-09-27 07:11:17.829923,NaN,43.515302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2012-01-01 00:00:00,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2016-08-05 00:00:00,NaN,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2019-03-24 00:00:00,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2021-03-18 18:00:00,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2022-12-31 00:00:00,NaN,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,12.601832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

`Brief summary:`

### Next we counted up the null values in each column of the dataframe. We did expect to see a lot of null values across the board since there were many columns and it wouldn't make sense for every column in most of the rows to be non-null. For example it is unlikely to see multiple types of overdose for the same entry in the dataframe. (i.e someone overdosed on Cocaine, and Heroin, and Fentanyl, etc.)

### The reason we wanted to do this is to determine which columns we wanted to clean up and fix, and which ones were not worth keeping for the rest of the project.

In [7]:
df.isnull().sum()

Date                                 0
Date Type                            0
Age                                  2
Sex                                  9
Race                                29
Ethnicity                         9079
Residence City                     506
Residence County                  1168
Residence State                   1898
Injury City                        178
Injury County                     3322
Injury State                      2913
Injury Place                       290
Description of Injury              804
Death City                        1457
Death County                      2564
Death State                       3781
Location                            22
Location if Other                 9460
Cause of Death                       0
Manner of Death                      9
Other Significant Conditions      9644
Heroin                            7182
Heroin death certificate (DC)     9914
Cocaine                           6799
Fentanyl                          3729
Fentanyl Analogue                 9850
Oxycodone                         9704
Oxymorphone                      10497
Ethanol                           7776
Hydrocodone                      10491
Benzodiazepine                    8155
Methadone                         9716
Meth/Amphetamine                 10527
Amphet                           10295
Tramad                           10370
Hydromorphone                    10587
Morphine (Not Heroin)            10599
Xylazine                          9862
Gabapentin                       10306
Opiate NOS                       10528
Heroin/Morph/Codeine              8564
Other Opioid                     10526
Any Opioid                        3034
Other                             9962
ResidenceCityGeo                   166
InjuryCityGeo                      246
DeathCityGeo                         1
dtype: int64

### `Date` and `DateType` are completely free of null values, and are very useful columns so we decided we wanted both.

### `Age`, `Sex`, and `Race` have very few null values, and are very useful columns so we decided it was worth keeping and cleaning up. We fixed them up through imputation by setting missing values to the mode of each respective column.

### While `Ethnicity` is important and we would analyze it ideally, there are too many null values (approx 9000 nulls/10000 samples, so about 90% null rate) for us to create an accurate analysis with anything related to ethnicity. Thus, we had to drop this column.

### `Residence City`, `Residence County`, and `Residence State` will be kept for now, but we did notice a heavy bias in the states column. Conneticut was the most reported by a landslide. Thus, we may have to avoid nationwide conclusions/correlations unless we only choose to focus on geographic patterns in Conneticut. Similarly, we will also keep `Injury City`, `Injury County`, `Injury State`, and `Injury Place`, `Death City`, `Death County`, `Death State` for the same reasons. We don't have a good enough reason to completely drop these location-based columns: it's too complicated to imputate, since all the columns like state, city, injury state, injury city, etc. are correlated with each other; also, we don't want to drop specific samples. See below for distribution of states column to see why it is hard to use it for a nationwide analysis by location:

In [8]:
df['Residence State'].value_counts()

Residence State
CT    8460
NY      72
MA      60
FL      34
RI      18
NJ      17
NC      13
ME       8
PA       8
TX       6
CA       6
VA       5
NH       5
VT       4
CO       4
SC       4
LA       3
IL       3
OK       3
GA       3
AL       3
WA       2
TN       2
MD       2
OH       2
IA       1
IN       1
MN       1
KY       1
SD       1
MI       1
DC       1
WV       1
WY       1
Name: count, dtype: int64

###

In [13]:
df['Description of Injury'].value_counts()

Description of Injury
Substance Abuse                                          3155
Substance abuse                                          1205
Drug Use                                                 1154
Substance use                                             661
Substance Use                                             648
                                                         ...
Took Opioids                                                1
Submerged in Water While Intoxicated                        1
Used Oxymorphone                                            1
Toxic effects of ethanol and prescription medications       1
Heroin use and misuse of medications                        1
Name: count, Length: 478, dtype: int64

In [10]:
df['Manner of Death'].value_counts()

Manner of Death
Accident    10616
Pending        14
accident       13
ACCIDENT        1
Natural         1
Name: count, dtype: int64